
<table class="table table-striped table-bordered table-dark">
    <tr>
        <th>HC Name</th>
        <td>@Announcement.HouseCommittee.Student.FullNames @Announcement.HouseCommittee.Student.LastName</td>
    </tr>

    <tr>
        <th>HC Role</th>
        <td>@Announcement.HouseCommittee.HcRole.HcRoleName</td>
    </tr>


    <tr>
        <th>HC's Room No</th>
        <td>@Announcement.HouseCommittee.Student.RoomNumber </td>
    </tr>

    <tr>
        <th>HC's PhoneNumber</th>
        <td>@Announcement.HouseCommittee.Student.PhoneNumber </td>
    </tr>

    <tr>
        <th>Announcement Category</th>
        <td class="text-danger">Not Yet Implemented</td>
    </tr>

    <tr>
        <th>Date Created</th>
        <td>@Announcement.GetDateCreated</td>
    </tr>


    <tr>
        <th>Announcement Title</th>
        <td>@Announcement.AnnouncementTitle</td>
    </tr>

    <tr>
        <th>Announcement Description</th>
        <td>@Announcement.AnnouncementDescription</td>
    </tr>

</table>


@code {

    [Parameter]
    public Announcement Announcement { get; set; }

}
